# Core functionality - changes here should be rare!
/src/app.py                   @DuneAtreide
/src/backend/database.py      @DuneAtreide
/src/backend/routers/auth.py  @DuneAtreide

# The frontend will need refactored soon to be more object oriented.
/src/static/   @DuneAtreide
